{% extends 'HRManagement/hr_main_template.html' %} {% load static %} {% block content %}

<div class="card-content">
    <form method="get">
      <div class="field">
        <label class="label">Thêm mới nhân viên</label>
        <div class="field-body">
          <div class="field">
            <div class="control icons-left">
                {{form.emp_Firstname}}
                <span class="icon left"><i class="mdi mdi-account"></i></span>
            </div>
          </div>    
          <div class="field">
            <div class="control icons-left">
                {{form.emp_Lastname}}
                <span class="icon left"><i class="mdi mdi-account"></i></span>
            </div>
          </div>    
          <div class="field">
            <div class="control icons-left">
                {{form.emp_Dob}}
            </div>
          </div>    
          <div class="field">
            <label class="label">Gender</label>
            <div class="field-body">
              <div class="field grouped multiline">
                <div class="control">
                  <label class="checkbox">
                    {{form.emp_Gender}}
                    <span class="check"></span>
                    <span class="control-label" name="male">Lorem</span>
                  </label>
                </div>
              </div>
            </div>
          </div> 
        </div>
      <div class="field grouped">
        <div class="control">
          <button type="submit" class="button green">
            Submit
          </button>
        </div>
        <div class="control">
          <button type="reset" class="button red">
            Reset
          </button>
        </div>
      </div>
    </form>
</div>
{% endblock content %}