{% extends 'HRManagement/hr_main_template.html' %} {% load static %} {% block content %}
<section class="is-hero-bar">
    <div
      class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0"
    >
      <a class="button blue" href="{% url 'addEmployee' %}">
        <i class="mdi mdi-square-edit-outline"></i> Thêm mới
      </a>
    </div>
  </section>
  <section class="section main-section">
    <div class="notification blue">
      <div
        class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
      >
        <div>
          <span class="icon"><i class="mdi mdi-buffer"></i></span>
          <b>Danh sách nhân viên</b>
        </div>
      </div>
    </div>
    <div class="card has-table">
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
              <th>DoB</th>
              <th>Gender</th>
              <th>Created date</th>
              <th>Modified date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for emp in employees %}
            <tr>          
              <td data-label="EmployeeID">{{emp.id}}</td>
              <td data-label="EmployeeFirstName">{{emp.emp_Firstname}}</td>
              <td data-label="EmployeeLastName">{{emp.emp_Lastname}}</td>
              <td data-label="EmployeeDob">
                <small class="text-gray-500"
                  >{{emp.emp_Dob|date:'Y-m-d'}}</small
                >
              </td>              
              {% if emp.emp_Gender %}
                <td data-label="EmployeeGender">Nam</td>
              {% else %}
                <td data-label="EmployeeGender">Nữ</td>
              {% endif %}
              <td data-label="Created">
                <small class="text-gray-500"
                  >{{emp.created_date}}</small
                >
              </td>
              
              <td data-label="Modified">
                <small class="text-gray-500"
                  >{{emp.modified_date}}</small
                >
              </td>
              <td class="actions-cell">
                <div class="buttons right nowrap">
                  <a
                    class="button small green --jb-modal"
                    data-target="sample-modal-2"
                    type="button"
                    href="{% url 'employeeDetail' emp.id %}"
                  >
                    <span class="icon"><i class="mdi mdi-eye"></i></span>
                  </a>
                  <a
                    class="button small red --jb-modal"
                    data-target="sample-modal"
                    type="button"
                    href="#"
                  >
                    <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>        
      </div>
    </div>
  </section>
  {% endblock content %}