{% extends 'HRManagement/hr_main_template.html' %} {% load static %} {% block content %}
<section class="is-hero-bar">
    <div
      class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0"
    >
      <a class="button blue" href="#">
        <i class="mdi mdi-square-edit-outline"></i> Thêm mới
      </a>
    </div>
  </section>
  <section class="section main-section">
    <div class="notification blue">
      <div
        class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
      >
        <div>
          <span class="icon"><i class="mdi mdi-buffer"></i></span>
          <b>Danh sách tài khoản</b>
        </div>
      </div>
    </div>
    <div class="card has-table">
      <div class="card-content">
        <table>
          <thead>
            <tr>        
              <th>ID</th>
              <th>Username</th>
              <th>Password</th>
              <th>Employee id</th>
              <th>Created date</th>
              <th>Modified date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for us in users %}
              <tr>              
                <td data-label="us_id">{{us.id}}</td>
                <td data-label="us_username">{{us.us_username}}</td>
                <td data-label="us_password">{{us.us_password}}</td>
                <td data-label="employee_id">{{us.employee_id}}</td>
                <td data-label="Created">
                  <small class="text-gray-500"
                    >{{us.created_date|date:'Y-m-d'}}</small
                  >
                </td>
                <td data-label="Modified">
                  <small class="text-gray-500"
                    >{{us.modified_date|date:'Y-m-d'}}</small
                  >
                </td>
                
              </tr>
            {% endfor %}
          </tbody>
        </table>        
      </div>
    </div>
  </section>
  {% endblock content %}