{% extends 'HRManagement/hr_main_template.html' %} {% load static %} {% block content %}
<section class="is-hero-bar">
    <div
      class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0"
    >
      <a class="button blue" href="#">
        <i class="mdi mdi-square-edit-outline"></i> Thêm mới
      </a>
    </div>
  </section>
  <section class="section main-section">
    <div class="notification blue">
      <div
        class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
      >
        <div>
          <span class="icon"><i class="mdi mdi-buffer"></i></span>
          <b>Danh sách tài khoản</b>
        </div>
      </div>
    </div>
    <div class="card has-table">
      <div class="card-content">
        <table>
          <thead>
            <tr>
              {% comment %} <th class="image-cell"></th> {% endcomment %}
              <th>Username</th>
              <th>Password</th>
              <th>Employee id</th>
              <th>Created date</th>
              <th>Modified date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% comment %} 
              <td class="image-cell">
                <div class="image">
                  <img
                    src="https://avatars.dicebear.com/v2/initials/rebecca-bauch.svg"
                    class="rounded-full"
                  />
                </div>
              </td> {% endcomment %}
              <td data-label="Name">Rebecca Bauch</td>
              <td data-label="Company">Daugherty-Daniel</td>
              <td data-label="City">South Cory</td>
              <td data-label="Created">
                <small class="text-gray-500" title="Oct 25, 2021"
                  >Oct 25, 2021</small
                >
              </td>
              <td data-label="Created">
                <small class="text-gray-500" title="Oct 25, 2021"
                  >Oct 25, 2021</small
                >
              </td>
              <td class="actions-cell">
                <div class="buttons right nowrap">
                  <button
                    class="button small green --jb-modal"
                    data-target="sample-modal-2"
                    type="button"
                  >
                    <span class="icon"><i class="mdi mdi-eye"></i></span>
                  </button>
                  <button
                    class="button small red --jb-modal"
                    data-target="sample-modal"
                    type="button"
                  >
                    <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="table-pagination">
          <div class="flex items-center justify-between">
            <div class="buttons">
              <button type="button" class="button active">1</button>
              <button type="button" class="button">2</button>
              <button type="button" class="button">3</button>
            </div>
            <small>Page 1 of 3</small>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}